<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppenderBySize"/>
    </root>
    <appender name="LogFileAppenderBySize" type="log4net.Appender.RollingFileAppender" >
      <file value="./log/logfile" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <!--<param name="AppendToFile" value="true" />
      <param name="File" value="log-file"/>
      <param name="RollingStyle" value="Size" />
      <param name="MaximumFileSize" value="500MB"/>
      <param name="MaxSizeRollBackups" value="1" />
      <param name="StaticLogFileName" value="true" />-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d :-&gt; %m%n"/>
      </layout>
    </appender>
  </log4net>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>